@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menupages__body h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 30px;
}
.menupages__body h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  padding: 0rem 0rem 0rem 0.5rem;
  position: relative;
}
.menupages__body h2::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #99E2D0;
  position: absolute;
  bottom: -0.2rem;
  left: 0.5rem;
}
.menupages__body h3, .menupages__body p {
  margin: 0px;
}
.menupages__body h3 {
  font-size: 21px;
}
.menupages__body p {
  margin-top: 0.2rem;
}

.menupages__headerbar h1 {
  text-align: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
}
.menupages__headerbar i {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1rem;
  height: 2rem;
  padding-left: 1rem;
  transform: translateY(0.4rem);
  font-size: 20px;
}

.menupages {
  max-width: 1280px;
  margin: auto;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0rem 0rem;
  margin-top: -4rem;
  position: relative;
  overflow: hidden;
}
.menupages__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2.5rem 0rem 1.5rem;
}
.menupages__hearth {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menupages__hearth:hover::before {
  opacity: 1;
}
.menupages__hearth::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: #f6f6f6;
}
.menupages__hearth__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  border: none;
}
.menupages__hearth:hover .button__like--noBg {
  opacity: 0;
}

.bouton__commander {
  display: flex;
  justify-content: center;
  margin: 3rem 0rem 4rem 0rem;
}
.bouton__commander p {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
}
.bouton__commander p:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.entrees, .plats, .desserts {
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.choix {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation-fill-mode: both;
  animation: itemAppear 2s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.choix__name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.choix__name__description {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
}
.choix__name__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 19px;
}
.choix__prix {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.choix__confirm {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.choix:hover .choix__confirm {
  margin-right: -1rem;
}
.choix .fa-check-circle {
  color: white;
  font-size: 25px;
  transform: rotate(-180deg);
  transition-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.choix:hover .fa-check-circle {
  transform: rotate(0);
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.menu__herobanner img {
  width: 100%;
  max-width: 100%;
  max-height: 32rem;
  object-fit: cover;
  z-index: 5;
}

@media (min-width: 1000px) {
  .menupages {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .menupages__header {
    grid-column: 1/-1;
  }
  .menupages__bouton {
    grid-column: 1/-1;
  }
}
@media (max-width: 450px) {
  .menupages__body .choix__name__title {
    font-size: 16px;
  }
  .menupages__body .choix__name__description {
    font-size: 13px;
  }

  .menupages__header {
    padding: 0rem 1rem 0rem 1rem;
  }

  .text__bouton__commander {
    font-size: 20px;
  }
}
#homepage h1 {
  font-size: 30px;
}
#homepage h2 {
  margin: 0rem 0rem 0.15rem 0rem;
  font-weight: 900;
}

body {
  margin: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.9rem 0rem 0.8rem 0rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}
.header__logo {
  max-width: 170px;
}

a {
  text-decoration: none;
  color: black;
}

.herobanner {
  text-align: center;
  background-color: #f6f6f6;
  padding: 0rem 0rem 3rem 0rem;
}
.herobanner__localisation {
  background-color: #eaeaea;
  color: #353535;
  padding: 1rem 0rem 1rem 0rem;
  font-weight: bold;
  margin: 0px;
}
.herobanner__localisation > .fas {
  padding: 0rem 1rem 0rem 0rem;
}
.herobanner__title {
  padding: 0rem 5rem 0rem 5rem;
  margin: 1rem 0rem 1rem 0rem;
}
.herobanner__infos {
  padding: 0rem 3rem 0rem 3rem;
  margin: 0.5rem 0rem 2rem 0rem;
  font-size: 24px;
  font-weight: 300;
}
.herobanner__button {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
}
.herobanner__button:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  margin: 0.5rem 0rem 1rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 10rem 0rem 10rem;
}
.fonctionnement__steps {
  padding: 0;
  margin: 0;
  counter-reset: compteListe;
}
.fonctionnement__etapes {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin: 1rem 0rem 1rem 0rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 0.5rem #c2c2c2;
  position: relative;
}
.fonctionnement__etapes > p {
  font-weight: 700;
  font-size: 22px;
  padding: 0rem 2rem 0rem 0rem;
  justify-content: left;
}
.fonctionnement__etapes__icon {
  padding: 0rem 2rem 0rem 2rem;
  color: gray;
  font-size: 1.5rem;
}
.fonctionnement__etapes::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  height: 2rem;
  width: 2rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  left: -0.75rem;
  position: absolute;
  background-color: #9356DC;
}
.fonctionnement__etapes:hover {
  background-color: #f2eafb;
}
.fonctionnement__etapes:hover .fonctionnement__etapes__icon {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 10rem 2rem 10rem;
}
.restaurants__card {
  background-color: white;
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 0.5rem #c2c2c2;
  position: relative;
}
.restaurants__card .badge__nouveau {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.2rem;
  color: #1b6150;
}
.restaurants__card__imgimg {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__card__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
.restaurants__card__infos p {
  margin: 0rem;
  font-size: 24px;
  font-weight: 300;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem 2rem 2rem 2rem;
}
footer nav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
  margin-top: 0.5rem;
  font-size: 20px;
}
footer a i {
  padding-right: 1rem;
  width: 1.2rem;
}

.footer__container {
  max-width: 1150px;
  margin: auto;
}
.footer__container__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  font-size: 19px;
}

@media (min-width: 769px) {
  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    column-gap: 2rem;
  }
  .restaurants h1 {
    grid-column: 1/-1;
  }

  .fonctionnement__etapes {
    width: 22rem;
    margin-left: 3rem;
  }
  .fonctionnement__etapes p {
    font-size: 17px;
    padding: 0rem 1rem 0rem 0rem;
  }
  .fonctionnement__etapes__icon {
    padding: 0rem 1.4rem 0rem 1.9rem;
  }
  .fonctionnement__steps {
    display: flex;
    justify-content: space-between;
  }
  .fonctionnement__steps :first-child {
    margin-left: 0rem;
  }
}
@media (max-width: 1300px) {
  .fonctionnement {
    padding: 0rem 1.5rem 2rem 1.5rem;
  }

  .restaurants {
    padding: 0rem 1.5rem 4rem 1.5rem;
  }
}
@media (max-width: 800px) {
  #homepage .herobanner__title, #homepage .herobanner__infos {
    padding: 0rem 2rem 0rem 2rem;
  }
  #homepage h1 {
    font-size: 25px;
  }
  #homepage p {
    font-size: 22px;
  }
  #homepage .herobanner__button {
    font-size: 18px;
    margin: 0;
  }
  #homepage .fonctionnement__etapes__infos {
    font-size: 18px;
  }
  #homepage .fonctionnement__etapes__icon {
    padding: 0rem 1rem 0rem 2rem;
  }
  #homepage .restaurants p {
    font-size: 16px;
  }
  #homepage .restaurants h2 {
    font-size: 18px;
  }
  #homepage .restaurants img {
    height: 12rem;
  }
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  background-color: black;
}
.menu__btn::before {
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0;
}
.menu__btn:hover::before {
  opacity: 1;
  transition: 0.5s;
}
.menu__like {
  mix-blend-mode: lighten;
  position: absolute;
  background-color: #fff;
}

.menu__like--noBg:hover {
  opacity: 0;
}

/*# sourceMappingURL=styles.css.map */
