@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

main{
        font-family: "Roboto", sans-serif;
}

#homepage{
    h1{
        font-size: 30px;
    }
    h2{
        margin: 0rem 0rem 0.15rem 0rem;
        font-weight: 900;
    }
}