$primary-color:#9356DC ;
$secondary-color: #FF79DA ;
$tertiary-color: #99E2D0 ;

@mixin button{
        background: linear-gradient($secondary-color, $primary-color);
        border:none;
        border-radius: 2rem;
        padding: 1rem 2rem 1rem 2rem;
        color: white;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.30);
        &:hover {
            background-color: white;
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
            filter: brightness(1.03);
          }
        }

@keyframes fadein {
  0% {
    transform: scale(0);
    transform: translateY(20px);
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    transform: translateY(0px);
    opacity: 100%;
  }
}

.spinner{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0,0%,100%,.9);
  animation: loader .01s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load 1.8s infinite ease-in-out;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
  color: $tertiary-color;
}  

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  color:$secondary-color;
}

.loader:after {
  left: 3.5em;
  color: $primary-color;
}

@keyframes load {
  0%,
  60%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  20% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes loader{
100% {
  opacity: 0;
  z-index: -1000;
}
}